---
layout: default
title: blog
---

<div class="blog-list">
  <div class="intro-text">
    <h1>👾 Hola and Hello</h1>
    <p>I love writing—it's my favorite way to think and learn. 
       Here you'll find personal and research projects, open questions that spark my curiosity, 
       and resources I hope others will find useful. Some posts are in Spanish, others in English.
    </p>
  </div>

  {% for post in site.posts %}
  <div class="blog-card">
    <a href="{{ post.url | relative_url }}">
      <h2 class="blog-title">{{ post.title }}</h2>
    </a>

    <p class="blog-desc">
      {{ post.description | default: post.excerpt | strip_html | truncatewords: 35 }}
    </p>

    <div class="blog-meta">
      {{ post.date | date: "%B %d, %Y" }}
      {% if post.read_time %} · {{ post.read_time }}{% endif %}
    </div>
  </div>
  {% endfor %}
</div>